backend/spotevent/__pycache__
backend/core/scraper.py
backend/core/scraper2.py
backend/core/__pycache__
backend/__pycache____pycache__/
__pycache__/
backend/spotevent/.env
backend/spotevent/data/var/tmp/django_cache
*.djcache
venv/
*.pyc
frontend/node_modules/
frontend/.env