body {
    margin: 0;
    padding: 0;
    background-color: #494949;
    /* background-color: #2b2b2b; */
    /* background-color: #28ff68; */
    min-height: 100vh;
}

span {
    color: #28ff68;
    /* color: #ff9d3b; */
}

button {
    user-select: none;
}

.priceRange {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 18vh;
}

.slider {
    width: 100%;
    height: 2px;
    background-color: #28ff694d;
    margin-top: 50px;
}

.slider .thumb {
    width: 23px;
    height: 23px;
    cursor: grab;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #28ff68;
    top: -12px;
}

.slider .thumb.active {
    cursor: grabbing;
}

.slider .thumb:hover {
    background: #7affa0;
}

.box {
    /* width: 100%; */
    width: 640px;
    padding: 36px 32px;
    background: #4b4b4b;
    border-radius: 10px;
    color: #fff;
    text-align: left;
    margin: 10px;
    box-shadow: #080808 0px 0px 10px 0px;
}

.box h3 span {
    color: #28ff68;
    font-weight: 700;
}

/* fix resize on typing in search */

.innerBox {
    /* min-width: 100%; */
    width: 100%;
    height: 346px;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #28ff68;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #39b960; 
}

#priceRange {
    max-width: 840px;
    min-width: 240px;
}

#venues {
    max-width: 840px;
    min-width: 240px;
    display: inline-block;
    text-align: left;
}

#genres {
    max-width: 840px;
    min-width: 240px;
    display: inline-block;
    text-align: left;
}

.values {
    margin: 0;
    font-weight: 500;
    color: #28ff68;
    font-size: 20px;
}

h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

h3 span {
    font-weight: 500;
    color: #fff;
}

small {
    font-size: 14px;
    margin-top: 8px;
    display: block;
    color: #cecece;
}

.venueCheckbox {
    display:inline-block;
    margin: 5px;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid rgba(53, 125, 37, 0.442);
    user-select: none;
}

.venueCheckbox:hover {
    background-color: #7affa0;
}

.venueCheckbox.selected {
    background-color: #28ff68;
    color: #fff;
    user-select: none;
}

.genreCheckbox {
    display:inline-block;
    margin: 5px;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid rgba(53, 125, 37, 0.442);
    user-select: none;
}

.genreCheckbox:hover {
    background-color: #7affa0;
}

.genreCheckbox.selected {
    background-color: #28ff68;
    color: #fff;
    user-select: none;
}

.displayMore {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 20px;
    border: 0;
    background-color: #28ff68;
}

.events-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 18px;
    margin: 24px;
}

.event-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px;
    background: #4b4b4b;
    border-radius: 10px;
    color: #fff;
    text-align: left;
    line-height: 0.9;
    height: 600px;
    box-shadow: #080808 0px 0px 10px 0px;
}

.event-display:hover {
    background: #383838;
    box-shadow: #095a21 0px 0px 10px 0px;
}

.event-display > * {
    margin: 2px;
}

.event-display .eventDetails {
    flex: 1;
}

.event-display .showFullDetails {
    margin-top: auto;
}

.event-image {
    align-items: center;
    width: 540px;
    max-width: 100%;
    /* max-height: 240px; */
    height: 160px;
    border-radius: 15px;
    padding: 0;
    margin: auto;
}

.event-name {
    font-size: 28px;
}

.event-id {
    display: none;
}

.event-price {
    font-size: 20px;
    font-weight: 700;
}

.event-date {
    font-size: 20px;
    font-weight: 500;
}

.event-summary {
    font-size: large;
}

.event-display button {
    margin: 5px;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 20px;
    border: 0;
    width: 100%;
}

.event-ticket-link button:hover {
    background-color: #7affa0;
}

.searchBar {
    width: 96%;
    padding: 10px;
    margin-bottom: 14px;
    display: grid;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #c7c7c7;
    font-size: 16px;
}

.expandDetails:hover {
    background-color: #7affa0;
}

.modal-display {
    display: flex;
    height: 100%;
}

#modal-event {
    display: flex;
    flex-direction: column;
    flex: 50%;
    height: 100%;
    margin: 5px;
    justify-content: flex-start;
    /* padding: 20px; */
}

#modal-image {
    width: 100%;
    height: 50%;
    /* margin: auto;
    padding: 0; */
}

#modal-image img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#modal-event-details h2{
    font-size: 40px;
    font-weight: 700;
}

#modal-event-details p {
    font-size: 20px;
    font-weight: 500;
}

#modal-venue {
    /* background-color: green; */
    flex: 50%;
    margin: 5px;
}

#modal-venue-details h2{
    font-size: 40px;
    font-weight: 700;
}

#modal-venue-details p {
    font-size: 20px;
    font-weight: 500;
}

#modal-buy-tickets-button-container {
    margin-top: auto;
}

#modal-buy-tickets-button {
    width: 100%;
    background-color: #28ff68;
    color: #000000;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #28ff68;
    color: #000;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

@media screen and (max-width: 940px) {
    .box {
        width: auto;
    }
    .modal-display {
        flex-direction: column;
    }
}

@media screen and (min-width: 2008px) {
    .box {
        width: 1040px;
        display:inline-block;
    }
}

